*.tex
*.spl
*.ttt
!MPM_errors_manuscript_MF_comments.pdf
!Appendix_2_18-06-20.pdf
!MPM_errors_manuscript_18-06-20.pdf
!MPM_errors_manuscript_18-06-21 edits RSG.pdf
!MPM_errors_manuscript_18-06-21+LGF.pdf
!MPM_errors_manuscript_with comments.pdf
!MPM_errors_manuscript_V2_MF.pdf
*_cache
